{% extends "utils/base.html" %}

{% block start %}
<div class="container mt-5 pt-5 pb-5">
  <div class="col-6 mx-auto card shadow p-4" style="border:none">
    <form method="POST">
      {% csrf_token %}
      {% include "utils/alerts.html" %}

      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required>
      </div>

      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>
  </div>
</div>
{% endblock %}
